
/* SETS BASIC PAGE THEME COLORS AND FEATURED IMAGES */
:root {
    --featured-card-bg1: url("../media/featured1.jpg");
    --featured-card-bg2: url("../media/featured2.jpg");
    --featured-card-bg3: url("../media/featured3.jpg");
    --featured-card-bg4: url("../media/featured4.jpg");
    --jumbotron-image: url("../media/jumbo2.jpg");
    --theme-color-opaque: rgba(91, 0, 114, 0.5);
    --theme-color: rgba(91, 0, 114);
    --theme-color-hover: rgb(121, 0, 151);
}


/* JUMBOTRON SETTINGS */
.flashsales {
    background: var(--jumbotron-image) no-repeat center center;
    background-size: cover;
    min-height: 400px;
}

.btn-default
{
  background-color: var(--theme-color) !important;
  color:#FFF !important;
  border-color: var(--theme-color);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {

  background-color: var(--theme-color-hover) !important;
  color:#FFF;
  border-color: var(--theme-color-hover);
 }

.jumbotron .jumbotext {
    display: table;
    padding:10px;
    position:relative;
    background: var(--theme-color); /* Fallback for older browsers without RGBA-support */
    background: var(--theme-color-opaque);
    color: white;
}

.jumbotron p {
    color: white;
    max-width: 500px;
    font-size: 20px;
}

/* BUSINESS STATEMENT STYLES */

.statement {
    max-width: 800px;
    margin: 50px 0 ;
}


span {
    color: var(--theme-color);
    font-weight: 400;
}


/* FEATURED PACKAGES STYLES */

.featuredtitle {
    display: flex;
    justify-content: space-around;
}

.card-title {
    color: white;
}

.card-text {
    color: #e8e8e8;
    list-style: none;
    padding: 0;
}

.card-text li {
    margin-top: 10px;
}

.card-text li:before {
    content: "-";
}

.card-deck {
    margin: auto !important;
}

.card a:hover {
    text-decoration: none;
}

.featured1 {
    background: var(--featured-card-bg1);
}

.featured2 {
    background: var(--featured-card-bg2);
}

.featured3 {
    background: var(--featured-card-bg3);
}

.featured4 {
    background: var(--featured-card-bg4);
}

.card-body {
    background-size: cover;
    min-height: 400px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

.rounded {
    border-radius: 10px;
}

.btn.outline {
    background: none;
    color: white;
}


.btn-light.outline:hover, .btn-light.outline:focus, .btn-light.outline:active, .btn-light.outline.active, .open > .dropdown-toggle.btn-light {
    color: black;
    background-color: white;
}
.packagebanner { 
    background: url("../media/packageimg/purplebannerbg.png");
    background-size: cover; 
    height: 85px;
    margin-bottom: 20px;
    text-align : right;
}

h1.bold { 
    font-weight: 555; 
    color: whitesmoke; 
    vertical-align: middle; 
}

p.color { 
    color: whitesmoke; 
    vertical-align: middle; 
}